@use postcss-nested;

@font-face {
  font-family: "My Chemical Romance";
  src:
    local("My Chemical Romance"),
    url("https://manzdev.github.io/twitch-tamagotchi/my-chemical-romance.woff2") format("woff2"),
    url("https://manzdev.github.io/twitch-tamagotchi/my-chemical-romance.woff") format("woff");
  font-display: swap;
}

html, body {
  overflow-x: hidden;
  height:60vh;
}
body {
  position: relative;
}
:root {
  --body-color: darkred;
  --inner-color: silver;
  --lcd-bgcolor: #b8b3af;
  --buttons-color: gold;
  --width: 275px;
  --height: 325px;
  --title-font-size: 34px;
  --break-shape: polygon(0 60%, 9% 38%, 10% 12%, 29% 15%, 47% 9%, 70% 14%, 84% 7%, 97% 20%, 91% 35%, 100% 58%, 92% 72%, 87% 92%, 68% 90%, 50% 100%, 40% 91%, 25% 94%, 9% 85%, 11% 77%);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.tamagotchi {
  background-color: var(--body-color);
  width: var(--width);
  height: var(--height);
  border-radius: 300px / 410px 410px 300px 300px;
  box-shadow:
    0 0 20px rgba(0, 0, 0, 0.75),
    0 0 40px 15px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 100px;
    background: #fff4;
    clip-path: ellipse(28px 80px at 0 50%);
    filter: blur(32px);
  }

  &::before {
    left: 0;
    transform: scaleX(-1) rotate(-5deg);
  }

  &::after {
    right: 0;
    transform: rotate(-5deg);
  }

  & .separation {
    border-bottom: 7px solid rgba(0, 0, 0, 0.65);
    width: 34%;
    height: 25px;
    position: absolute;
  }

  & .left.separation {
    left: 1px;
    transform: translateY(30px) rotate(6deg);
    border-radius: 50%;
  }

  & .right.separation {
    right: 0;
    transform: translateY(26px) rotate(-6deg);
    border-radius: 50%;
  }

  & .name {
    font-family: "My Chemical Romance", sans-serif;
    font-size: var(--title-font-size);
    font-variant: small-caps;
    letter-spacing: -2px;
    color: var(--buttons-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    transform: translateY(15px);

    & .initial {
      display: inline-block;
      transform: skewX(339deg) translate(6px);
    }

    & .m {
      display: inline-block;
      transform: skewX(342deg) translate(1px, 3px);
    }

    & .h {
      display: inline-block;
      font-size: calc(var(--title-font-size) * 1.3);
    }
  }

  & .tamagotchi-inner {
    background: rgba(0, 0, 0, 0.65);
    width: calc(var(--width) * 0.62);
    height: calc(var(--height) * 0.54);
    clip-path: var(--break-shape);
    transform: translate(4px, 0);
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: var(--inner-color);
      clip-path: var(--break-shape);
      transform: scale(0.95);
    }

    & .screen {
      --border-radius: 10px;

      width: 125px;
      height: 120px;
      background: var(--lcd-bgcolor);
      position: absolute;
      border-radius: var(--border-radius);
      transform: translateY(4px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        box-shadow:
          0 0 10px rgba(0, 0, 0, 0.5) inset,
          0 0 5px 2px rgba(0, 0, 0, 0.25) inset;
        position: absolute;
        border-radius: var(--border-radius);
        pointer-events: none;
      }

      & .top,
      & .bottom {
        background: #a6a6a6;
        height: 32px;
        display: flex;
        justify-content: space-around;
        padding: 0 6px;
      }

      & .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        & .pet {
          width: 42%;
          height: 100%;
          transform: scale(0.8);

          &::before {
            --pet-color: #222;
            --pet2-color: #722F37;
            --skin-color: #ffdbac;
            --skin2-color: #d6b890;
            --hair-color: #FF0000;

            --hair2-color: #403f34;
            --clothes2-color: #ff0040;
            --white-color: #ffffff;
            --trousers-color: #4c4c4c;
            --grey-color: #999999;

            content: "";
            display: block;
            width: 4px;
            height: 4px;
            box-shadow:

              16px 0 0 var(--pet-color),
              20px 0 0 var(--hair2-color),
              24px 0 0 var(--hair2-color),
              28px 0 0 var(--hair2-color),
              32px 0 0 var(--hair2-color),
              36px 0 0 var(--pet-color),

              12px 4px 0 var(--pet-color),
              16px 4px 0 var(--hair2-color),
              20px 4px 0 var(--hair2-color),
              24px 4px 0 var(--hair2-color),
              28px 4px 0 var(--hair2-color),
              32px 4px 0 var(--hair2-color),
              36px 4px 0 var(--hair2-color),
              40px 4px 0 var(--hair2-color),
              44px 4px 0 var(--pet-color),
              48px 4px 0 var(--pet-color),

              8px 8px 0 var(--pet-color),
              12px 8px 0 var(--hair2-color),
              16px 8px 0 var(--hair2-color),
              20px 8px 0 var(--hair2-color),
              24px 8px 0 var(--pet-color),
              28px 8px 0 var(--hair2-color),
              32px 8px 0 var(--hair2-color),
              36px 8px 0 var(--hair2-color),
              40px 8px 0 var(--hair2-color),
              44px 8px 0 var(--pet-color),
              48px 8px 0 var(--hair2-color),
              52px 8px 0 var(--pet-color),

              8px 12px 0 var(--pet-color),
              12px 12px 0 var(--hair2-color),
              16px 12px 0 var(--pet-color),
              20px 12px 0 var(--hair2-color),
              24px 12px 0 var(--pet-color),
              28px 12px 0 var(--hair2-color),
              32px 12px 0 var(--pet2-color),
              36px 12px 0 var(--hair2-color),
              40px 12px 0 var(--hair2-color),
              44px 12px 0 var(--pet-color),
              48px 12px 0 var(--hair2-color),
              52px 12px 0 var(--pet-color),

              12px 16px 0 var(--pet-color),
              16px 16px 0 var(--skin-color),
              20px 16px 0 var(--pet-color),
              24px 16px 0 var(--skin-color),
              28px 16px 0 var(--pet2-color),
              32px 16px 0 var(--pet-color),
              36px 16px 0 var(--hair2-color),
              40px 16px 0 var(--pet2-color),
              44px 16px 0 var(--pet-color),
              48px 16px 0 var(--pet2-color),
              52px 16px 0 var(--pet-color),

              8px 20px 0 var(--pet-color),
              12px 20px 0 var(--skin-color),
              16px 20px 0 var(--skin-color),
              20px 20px 0 var(--skin-color),
              24px 20px 0 var(--skin-color),
              28px 20px 0 var(--pet-color),
              32px 20px 0 var(--hair2-color),
              36px 20px 0 var(--pet2-color),
              40px 20px 0 var(--pet-color),
              48px 20px 0 var(--pet-color),

              12px 24px 0 var(--pet-color),
              16px 24px 0 var(--skin2-color),
              20px 24px 0 var(--skin2-color),
              24px 24px 0 var(--skin2-color),
              28px 24px 0 var(--pet2-color),
              32px 24px 0 var(--pet2-color),
              36px 24px 0 var(--pet-color),

              24px 28px 0 var(--pet-color),
              28px 28px 0 var(--pet-color),

              20px 32px 0 var(--pet-color),
              24px 32px 0 var(--hair-color),
              28px 32px 0 var(--hair-color),
              32px 32px 0 var(--pet-color),

              16px 36px 0 var(--pet-color),
              20px 36px 0 var(--white-color),
              24px 36px 0 var(--white-color),
              28px 36px 0 var(--hair-color),
              32px 36px 0 var(--pet-color),

              20px 40px 0 var(--pet-color),
              24px 40px 0 var(--pet-color),
              28px 40px 0 var(--pet-color),
              32px 40px 0 var(--pet-color),
              36px 40px 0 var(--pet-color),

              20px 44px 0 var(--pet-color),
              24px 44px 0 var(--grey-color),
              28px 44px 0 var(--trousers-color),
              32px 44px 0 var(--trousers-color),
              36px 44px 0 var(--pet-color),

              20px 48px 0 var(--pet-color),
              24px 48px 0 var(--skin-color),
              28px 48px 0 var(--skin-color),
              32px 48px 0 var(--pet-color),

              24px 52px 0 var(--pet-color),
              28px 52px 0 var(--hair2-color),
              32px 52px 0 var(--pet-color)
              ;

              
           animation: movePet 2s infinite steps(2);
          }
        }
        & .gamepadItem {
          width: 42%;
          height: 100%;
          transform: scale(0.8);

          &::before {
            --pet-color: #222;
            --pet2-color: #722F37;
            --skin-color: #ffdbac;
            --skin2-color: #d6b890;

            --hair2-color: #403f34;
            --clothes2-color: #ff0040;
            --white-color: #ffffff;
            --trousers-color: #4c4c4c;
            --grey-color: #999999;



            --skin-color: #ffdbac;
            --grey-color: #4a4a4a;
            --lightgrey-color: #a6a6a7;
            --darkgrey-color: #303030;

            --brown-color: #6c402f;
            --hair-color: #26261f;
            --olive-color: #545730;
            --black-color: #000;

            content: "";
            display: block;
            width: 4px;
            height: 4px;
            box-shadow:
              24px -4px 0 var(--black-color),
              28px -4px 0 var(--black-color),
              40px -4px 0 var(--black-color),
              44px -4px 0 var(--black-color),              

              
              16px 0px 0 var(--black-color),
              20px 0px 0 var(--black-color),
              24px 0px 0 var(--lightgrey-color),
              28px 0px 0 var(--black-color),
              36px 0px 0 var(--black-color),
              40px 0px 0 var(--lightgrey-color),
              44px 0px 0 var(--grey-color),
              48px 0px 0 var(--black-color),

              12px 4px 0 var(--black-color),
              16px 4px 0 var(--lightgrey-color),
              20px 4px 0 var(--grey-color),
              24px 4px 0 var(--grey-color),
              28px 4px 0 var(--grey-color),
              32px 4px 0 var(--black-color),
              36px 4px 0 var(--lightgrey-color),
              40px 4px 0 var(--grey-color),
              44px 4px 0 var(--black-color),
              
              8px 8px 0 var(--black-color),
              12px 8px 0 var(--lightgrey-color),
              16px 8px 0 var(--grey-color),
              20px 8px 0 var(--grey-color),
              24px 8px 0 var(--grey-color),
              28px 8px 0 var(--lightgrey-color),
              32px 8px 0 var(--lightgrey-color),
              36px 8px 0 var(--grey-color),
              40px 8px 0 var(--black-color),
              44px 8px 0 var(--black-color),
              

              4px 12px 0 var(--black-color),
              8px 12px 0 var(--grey-color),
              12px 12px 0 var(--grey-color),
              16px 12px 0 var(--grey-color),
              20px 12px 0 var(--grey-color),
              24px 12px 0 var(--grey-color),
              28px 12px 0 var(--grey-color),
              32px 12px 0 var(--grey-color),
              36px 12px 0 var(--black-color),
              40px 12px 0 var(--black-color),

              8px 16px 0 var(--black-color),
              12px 16px 0 var(--black-color),
              16px 16px 0 var(--black-color),
              20px 16px 0 var(--black-color),
              24px 16px 0 var(--black-color),
              28px 16px 0 var(--black-color),
              32px 16px 0 var(--black-color),
              36px 16px 0 var(--black-color),
              40px 16px 0 var(--hair-color),

              12px 20px 0 var(--pet-color),
              16px 20px 0 var(--skin-color),
              20px 20px 0 var(--pet-color),
              24px 20px 0 var(--skin-color),
              28px 20px 0 var(--hair-color),
              32px 20px 0 var(--black-color),
              36px 20px 0 var(--hair-color),
              40px 20px 0 var(--hair-color),

              8px 24px 0 var(--pet-color),
              12px 24px 0 var(--grey-color),
              16px 24px 0 var(--grey-color),
              20px 24px 0 var(--skin-color),
              24px 24px 0 var(--skin-color),
              28px 24px 0 var(--pet-color),
              32px 24px 0 var(--grey-color),
              36px 24px 0 var(--darkgrey-color),
              40px 24px 0 var(--pet-color),

              12px 28px 0 var(--darkgrey-color),
              16px 28px 0 var(--darkgrey-color),
              20px 28px 0 var(--grey-color),
              24px 28px 0 var(--grey-color),
              28px 28px 0 var(--grey-color),
              32px 28px 0 var(--darkgrey-color),
              36px 28px 0 var(--pet-color),

              8px 32px 0 var(--pet-color),
              20px 32px 0 var(--lightgrey-color),
              24px 32px 0 var(--darkgrey-color),
              28px 32px 0 var(--grey-color),

              -4px 36px 0 var(--pet-color),
              0px 36px 0 var(--lightgrey-color),
              4px 36px 0 var(--brown-color),
              8px 36px 0 var(--brown-color),
              12px 36px 0 var(--brown-color),
              20px 36px 0 var(--darkgrey-color),
              24px 36px 0 var(--darkgrey-color),
              28px 36px 0 var(--darkgrey-color),
              32px 36px 0 var(--darkgrey-color),

              0px 40px 0 var(--pet-color),
              4px 40px 0 var(--lightgrey-color),
              8px 40px 0 var(--lightgrey-color),
              12px 40px 0 var(--brown-color),
              16px 40px 0 var(--darkgrey-color),
              20px 40px 0 var(--lightgrey-color),
              24px 40px 0 var(--olive-color),
              28px 40px 0 var(--darkgrey-color),
              32px 40px 0 var(--black-color),

              16px 44px 0 var(--brown-color),
              20px 44px 0 var(--black-color),
              24px 44px 0 var(--black-color),
              28px 44px 0 var(--black-color),
              32px 44px 0 var(--black-color),
              36px 44px 0 var(--black-color),

              20px 48px 0 var(--grey-color),
              24px 48px 0 var(--olive-color),
              28px 48px 0 var(--darkgrey-color),
              32px 48px 0 var(--grey-color),
              36px 48px 0 var(--grey-color),

              20px 52px 0 var(--grey-color),
              24px 52px 0 var(--grey-color),
              28px 52px 0 var(--darkgrey-color),
              32px 52px 0 var(--olive-color),

              24px 56px 0 var(--darkgrey-color),
              28px 56px 0 var(--darkgrey-color),
              32px 56px 0 var(--grey-color)
              ;

              
           animation: movePet 2s infinite steps(2);
          }
        }
        & .dumbellItem {
          width: 42%;
          height: 100%;
          transform: scale(0.8);

          &::before {
            --pet-color: #222;

            --skin-color: #ffdbac;
            --grey-color: #4a4a4a;
            --lightgrey-color: #a6a6a7;
            --darkgrey-color: #303030;

            --brown-color: #6c402f;
            --hair-color: #26261f;
            --olive-color: #545730;
            --black-color: #000;

            content: "";
            display: block;
            width: 4px;
            height: 4px;
            animation: moveDumbellItem 2s infinite steps(2);
          }
        }
        & .cat {
          width: 36px;
          height: 32px;
          align-self: flex-end;
          transform: translate(10px, 0) scale(0.6);

          &::before {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            animation: moveCat 1s infinite steps(2, jump-none);
          }
        }
        & .bookItem {
          width: 36px;
          height: 32px;
          align-self: flex-end;
          transform: translate(10px, 0) scale(0.6);

          &::before {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            animation: moveBookItem 1s infinite steps(2, jump-none);
          }
        }
        & .utensilsItem {
          width: 36px;
          height: 32px;
          align-self: flex-end;
          transform: translate(10px, 0) scale(0.6);

          &::before {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            animation: moveUtensilsItem 1s infinite steps(2, jump-none);
          }
        }
      }

      & .item svg {
        width: 20px;
        height: 20px;
        margin: 6px 5px;
        opacity: 0.25;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  & .buttons-container {
    width: 40%;
    height: 32px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

    & .button {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: var(--buttons-color);
      box-shadow:
        0 0 4px 2px rgba(0, 0, 0, 0.75),
        -2px -2px 4px rgba(0, 0, 0, 0.5) inset;

      &:active {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
        box-shadow:
          0 0 4px 2px rgba(0, 0, 0, 0.75),
          2px 2px 2px rgba(0, 0, 0, 0.25) inset;
      }

      &.middle {
        align-self: flex-end;
      }
    }
  }
}

.change-color {
  width: 255px;
  margin: auto;

  & button {
    width: 45px;
    height: 45px;
    background: var(--color);
    border: 0;
    border-radius: 12px;
    margin: 3px;
    box-shadow: -2px -2px 2px 4px rgba(0, 0, 0, 0.25) inset;

    & span {
      display: none;
    }
  }
}

@keyframes movePet {
  0% {
    transform: translate(40px, 0) rotateY(-180deg);
  }

  100% {
    transform: translate(-20px, 0) rotateY(180deg);
    
  }
}

@keyframes moveDumbellItem{
  0% {
    box-shadow:
    
    4px 16px 0 #26261f,
    44px 16px 0 #26261f,

    0px 20px 0 #73716f,
    4px 20px 0 #26261f,
    8px 20px 0 #73716f,
    12px 20px 0 #73716f,
    16px 20px 0 #73716f,
    20px 20px 0 #73716f,
    24px 20px 0 #73716f,
    28px 20px 0 #73716f,
    32px 20px 0 #73716f,
    36px 20px 0 #73716f,
    40px 20px 0 #73716f,
    44px 20px 0 #26261f,
    48px 20px 0 #73716f,

    12px 24px 0 #fff9bd,
    36px 24px 0 #fff9bd,
    4px 24px 0 #26261f,
    44px 24px 0 #26261f,

    12px 20px 0 #fff9bd,
    36px 20px 0 #fff9bd,

    12px 24px 0 #fff9bd,
    36px 24px 0 #fff9bd,

    0 28px 0 #73716f,
    12px 28px 0 #fff9bd,
    16px 28px 0 #26261f,
    20px 28px 0 #fff9bd,
    24px 28px 0 #fff9bd,
    28px 28px 0 #fff9bd,
    32px 28px 0 black,
    36px 28px 0 #fff9bd,
    48px 28px 0 #73716f,

    0 32px 0 #545730,
    16px 32px 0 #26261f,
    20px 32px 0 #26261f,
    24px 32px 0 #26261f,
    28px 32px 0 #26261f,
    32px 32px 0 #26261f,
    48px 32px 0 #545730,

    0 36px 0 #73716f,
    12px 36px 0 #73716f,
    16px 36px 0 #73716f,
    20px 36px 0 #26261f,
    24px 36px 0 #26261f,
    28px 36px 0 #26261f,
    32px 36px 0 #73716f,
    36px 36px 0 #73716f,
    48px 36px 0 #73716f,

    0 40px 0 #73716f,
    16px 40px 0 #73716f,
    20px 40px 0 #73716f,
    24px 40px 0 #73716f,
    28px 40px 0 #73716f,
    32px 40px 0 #73716f,
    48px 40px 0 #73716f,

    0 44px 0 #73716f,
    12px 44px 0 #73716f,
    16px 44px 0 #73716f,
    32px 44px 0 #73716f,
    36px 44px 0 #73716f,
    48px 44px 0 #73716f,

    -4px 48px 0 #73716f,
    4px 48px 0 #73716f,
    12px 48px 0 #73716f,
    36px 48px 0 #73716f,
    44px 48px 0 #73716f,
    52px 48px 0 #73716f
    ;
      
  }

  100% {
    box-shadow:
    4px 8px 0 #26261f,
    44px 8px 0 #26261f,

    0px 12px 0 #73716f,
    4px 12px 0 #26261f,
    8px 12px 0 #73716f,
    12px 12px 0 #73716f,
    16px 12px 0 #73716f,
    20px 12px 0 #73716f,
    24px 12px 0 #73716f,
    28px 12px 0 #73716f,
    32px 12px 0 #73716f,
    36px 12px 0 #73716f,
    40px 12px 0 #73716f,
    44px 12px 0 #26261f,
    48px 12px 0 #73716f,

    12px 16px 0 #fff9bd,
    36px 16px 0 #fff9bd,
    4px 16px 0 #26261f,
    44px 16px 0 #26261f,

    12px 20px 0 #fff9bd,
    36px 20px 0 #fff9bd,

    12px 24px 0 #fff9bd,
    36px 24px 0 #fff9bd,

    0 28px 0 #73716f,
    12px 28px 0 #fff9bd,
    16px 28px 0 #26261f,
    20px 28px 0 #fff9bd,
    24px 28px 0 #fff9bd,
    28px 28px 0 #fff9bd,
    32px 28px 0 black,
    36px 28px 0 #fff9bd,
    48px 28px 0 #73716f,

    0 32px 0 #545730,
    16px 32px 0 #26261f,
    20px 32px 0 #26261f,
    24px 32px 0 #26261f,
    28px 32px 0 #26261f,
    32px 32px 0 #26261f,
    48px 32px 0 #545730,

    0 36px 0 #73716f,
    12px 36px 0 #73716f,
    16px 36px 0 #73716f,
    20px 36px 0 #26261f,
    24px 36px 0 #26261f,
    28px 36px 0 #26261f,
    32px 36px 0 #73716f,
    36px 36px 0 #73716f,
    48px 36px 0 #73716f,

    0 40px 0 #73716f,
    16px 40px 0 #73716f,
    20px 40px 0 #73716f,
    24px 40px 0 #73716f,
    28px 40px 0 #73716f,
    32px 40px 0 #73716f,
    48px 40px 0 #73716f,

    0 44px 0 #73716f,
    12px 44px 0 #73716f,
    16px 44px 0 #73716f,
    32px 44px 0 #73716f,
    36px 44px 0 #73716f,
    48px 44px 0 #73716f,

    -4px 48px 0 #73716f,
    4px 48px 0 #73716f,
    12px 48px 0 #73716f,
    36px 48px 0 #73716f,
    44px 48px 0 #73716f,
    52px 48px 0 #73716f
   
    ; 
  }
}

@keyframes moveUtensilsItem{
  0% {
    box-shadow:

    12px -8px 0 #fff,

    16px -12px 0 #fff,
    20px -4px 0 #fff,

    24px 0px 0 #fff,

    12px 8px 0 #fff,
    16px 8px 0 #ffc00f,
    20px 8px 0 #23b14d,
    24px 8px 0 #ed1b24,
    28px 8px 0 #fff,

    16px 12px 0 #fff,
    20px 12px 0 #fff,
    24px 12px 0 #fff,

    4px 16px 0 #9c5a3c,
    8px 16px 0 #9c5a3c,
    12px 16px 0 #9c5a3c,
    16px 16px 0 #9c5a3c,
    20px 16px 0 #9c5a3c,
    24px 16px 0 #9c5a3c,
    28px 16px 0 #9c5a3c,
    32px 16px 0 #9c5a3c,
    36px 16px 0 #9c5a3c,

    8px 20px 0 #9c5a3c,
    32px 20px 0 #9c5a3c,

    8px 24px 0 #9c5a3c,
    32px 24px 0 #9c5a3c,

    8px 28px 0 #9c5a3c,
    32px 28px 0 #9c5a3c


    ;
      
  }

  100% {
    box-shadow:
    
    28px -8px 0 #fff,

    12px -4px 0 #fff,
    24px -4px 0 #fff,

    16px 0px 0 #fff,

    12px 8px 0 #fff,
    16px 8px 0 #23b14d,
    20px 8px 0 #ed1b24,
    24px 8px 0 #ffc00f,
    28px 8px 0 #fff,

    16px 12px 0 #fff,
    20px 12px 0 #fff,
    24px 12px 0 #fff,

    4px 16px 0 #9c5a3c,
    8px 16px 0 #9c5a3c,
    12px 16px 0 #9c5a3c,
    16px 16px 0 #9c5a3c,
    20px 16px 0 #9c5a3c,
    24px 16px 0 #9c5a3c,
    28px 16px 0 #9c5a3c,
    32px 16px 0 #9c5a3c,
    36px 16px 0 #9c5a3c,

    8px 20px 0 #9c5a3c,
    32px 20px 0 #9c5a3c,

    8px 24px 0 #9c5a3c,
    32px 24px 0 #9c5a3c,

    8px 28px 0 #9c5a3c,
    32px 28px 0 #9c5a3c
    ; 
  }
}

@keyframes moveCat {
  0% {
    box-shadow:
    20px -20px 0 #FF69B4,
    28px -20px 0 #FF69B4,
    16px -16px 0 #FF69B4,
    20px -16px 0 #FF69B4,
    24px -16px 0 #FF69B4,
    28px -16px 0 #FF69B4,
    32px -16px 0 #FF69B4,
    20px -12px 0 #FF69B4,
    24px -12px 0 #FF69B4,
    28px -12px 0 #FF69B4,
    24px -8px 0 #FF69B4,

    8px 4px 0 #000,
    16px 4px 0 #000,
    4px 8px 0 #000,
    8px 8px 0 #403f34,
    12px 8px 0 #000,
    16px 8px 0 #403f34,
    20px 8px 0 #000,
    4px 12px 0 #000,
    8px 12px 0 #fff,
    12px 12px 0 #403f34,
    16px 12px 0 #fff,
    20px 12px 0 #000,
    4px 16px 0 #000,
    8px 16px 0 #a37f1c,
    12px 16px 0 #403f34,
    16px 16px 0 #403f34,
    20px 16px 0 #a37f1c,
    24px 16px 0 #000,
    32px 16px 0 #000,
    36px 16px 0 #a37f1c,
    8px 20px 0 #000,
    12px 20px 0 #a37f1c,
    16px 20px 0 #403f34,
    20px 20px 0 #403f34,
    24px 20px 0 #403f34,
    28px 20px 0 #000,
    32px 20px 0 #403f34,
    36px 20px 0 #000,
    8px 24px 0 #000,
    12px 24px 0 #403f34,
    16px 24px 0 #000,
    20px 24px 0 #000,
    24px 24px 0 #000,
    28px 24px 0 #a37f1c,
    32px 24px 0 #000,
    12px 28px 0 #000,
    24px 28px 0 #000,
    28px 28px 0 #000


    ;
      
  }

  100% {
    box-shadow:
    0px -16px 0 #FF69B4,
    8px -16px 0 #FF69B4,
    -4px -12px 0 #FF69B4,
    0px -12px 0 #FF69B4,
    4px -12px 0 #FF69B4,
    8px -12px 0 #FF69B4,
    12px -12px 0 #FF69B4,
    0px -8px 0 #FF69B4,
    4px -8px 0 #FF69B4,
    8px -8px 0 #FF69B4,
    4px -4px 0 #FF69B4,

    8px 4px 0 #000,
    16px 4px 0 #000,
    4px 8px 0 #000,
    8px 8px 0 #403f34,
    12px 8px 0 #000,
    16px 8px 0 #403f34,
    20px 8px 0 #000,
    4px 12px 0 #000,
    8px 12px 0 #fff,
    12px 12px 0 #403f34,
    16px 12px 0 #fff,
    20px 12px 0 #000,
    4px 16px 0 #000,
    8px 16px 0 #a37f1c,
    12px 16px 0 #403f34,
    16px 16px 0 #403f34,
    20px 16px 0 #a37f1c,
    24px 16px 0 #000,
    32px 16px 0 #000,
    36px 16px 0 #a37f1c,
    8px 20px 0 #000,
    12px 20px 0 #a37f1c,
    16px 20px 0 #403f34,
    20px 20px 0 #403f34,
    24px 20px 0 #403f34,
    28px 20px 0 #000,
    32px 20px 0 #403f34,
    36px 20px 0 #000,
    8px 24px 0 #000,
    12px 24px 0 #403f34,
    16px 24px 0 #000,
    20px 24px 0 #000,
    24px 24px 0 #000,
    28px 24px 0 #a37f1c,
    32px 24px 0 #000,
    12px 28px 0 #000,
    24px 28px 0 #000,
    28px 28px 0 #000
    ; 
  }
}

  
@keyframes moveBookItem {
  0% {
    box-shadow:

    4px -8px 0 #000,
    8px -8px 0 #000,
    12px -8px 0 #fff,
    16px -8px 0 #fff,
    20px -8px 0 #fff,

    0px -4px 0 #000,
    4px -4px 0 #1db324,
    8px -4px 0 #fff,
    12px -4px 0 #1db324,
    16px -4px 0 #000,

    0px 0px 0 #000,
    4px 0px 0 #1db324,
    8px 0px 0 #1db324,
    12px 0px 0 #1db324,
    16px 0px 0 #000,
    24px 0px 0 #000,
    28px 0px 0 #000,
    32px 0px 0 #1db324,

    4px 4px 0 #000,
    8px 4px 0 #000,
    12px 4px 0 #1db324,
    16px 4px 0 #1db324,
    20px 4px 0 #000,
    24px 4px 0 #000,
    28px 4px 0 #84b31e,
    32px 4px 0 #1db324,

    12px 8px 0 #000,
    16px 8px 0 #1db324,
    20px 8px 0 #1db324,
    24px 8px 0 #000,
    28px 8px 0 #84b31e,
    32px 8px 0 #1db324,

    12px 12px 0 #000,
    16px 12px 0 #1db324,
    20px 12px 0 #1db324,
    24px 12px 0 #1db324,
    28px 12px 0 #000,
    32px 12px 0 #84b31e,
    36px 12px 0 #1db324,

    16px 16px 0 #000,
    20px 16px 0 #1db324,
    28px 16px 0 #000,
    32px 16px 0 #84b31e,
    36px 16px 0 #1db324,
    40px 16px 0 #1db324,

    32px 20px 0 #000,
    36px 20px 0 #84b31e,
    40px 20px 0 #fff,
    44px 20px 0 #fff

    ;
      
  }

  100% {
    box-shadow:
    32px -4px 0 #000,
    36px -4px 0 #000,
    40px -4px 0 #fff,
    44px -4px 0 #fff,

    4px 0px 0 #000,
    8px 0px 0 #000,
    12px 0px 0 #fff,
    16px 0px 0 #fff,
    20px 0px 0 #fff,
    28px 0px 0 #000,
    32px 0px 0 #1db324,
    36px 0px 0 #1db324,
    40px 0px 0 #84b31e,

    0px 4px 0 #000,
    4px 4px 0 #1db324,
    8px 4px 0 #fff,
    12px 4px 0 #1db324,
    16px 4px 0 #000,
    28px 4px 0 #000,
    32px 4px 0 #1db324,
    36px 4px 0 #84b31e,

    0px 8px 0 #000,
    4px 8px 0 #1db324,
    8px 8px 0 #1db324,
    12px 8px 0 #1db324,
    16px 8px 0 #000,
    24px 8px 0 #000,
    28px 8px 0 #1db324,
    32px 8px 0 #84b31e,

    4px 12px 0 #000,
    8px 12px 0 #000,
    12px 12px 0 #1db324,
    16px 12px 0 #1db324,
    20px 12px 0 #000,
    24px 12px 0 #1db324,
    28px 12px 0 #84b31e,
    32px 12px 0 #84b31e,

    12px 16px 0 #000,
    16px 16px 0 #1db324,
    20px 16px 0 #1db324,
    24px 16px 0 #1db324,
    28px 16px 0 #000,

    12px 20px 0 #000,
    16px 20px 0 #1db324,
    20px 20px 0 #1db324,
    24px 20px 0 #1db324,
    28px 20px 0 #1db324,
    32px 20px 0 #000,

    16px 24px 0 #000,
    20px 24px 0 #1db324,
    28px 24px 0 #000,
    32px 24px 0 #1db324
    ; 
  }
}

  
.icon{
color:grey;
margin:10px 0 10px 0;
}

.icon2{
  color:grey;
  margin:5px 0 15px 0;
  }

#bookItem{
  display: none;
}

#cat{
  display: none;
}

#gamepadItem{
  display: none;
}

#dumbellItem{
  display: none;
}

#utensilsItem{
  display: none;
}